fastapi
uvicorn
pillow
opencv-python-headless
numpy
pandas
matplotlib
scikit-learn
reportlab
python-multipart

# CPU-only PyTorch (works on Render Free)
torch==2.2.2+cpu
torchvision==0.17.2+cpu
-f https://download.pytorch.org/whl/cpu
